:root {
  --Pale_Viole: hsl(276, 100%, 81%);
  --Moderate_Violet: hsl(276, 55%, 52%);
  --Desaturated_Dark_Violet: hsl(271, 15%, 43%);
  --Grayish_Blue: hsl(206, 6%, 79%);
  --Very_Dark_Desaturated_Violet: hsl(271, 36%, 24%);
  --Dark_Grayish_Violet: hsl(270, 7%, 64%);
  --Light_Magenta: hsl(293, 100%, 63%);
  --Light_Violet: hsl(264, 100%, 61%);
  --White: hsl(0, 0%, 100%);
  --Light_Grayish_Violet: hsl(270, 20%, 96%);
  --Very_Dark_Desaturated_Violet: hsl(271, 36%, 24%);
  --Very_Light_Magenta: hsl(289, 100%, 72%);
}
